/Assignment1/Debug
/Assignment1/ipch
/Assignment1/Assignment1/Debug
/Assignment1_GameEngine/Debug
/Assignment1_GameEngine/GameEngine/Debug
/Assignment1_GameEngine/ipch
/Assignment1_GameEngine/*.sdf
/Assignment1_GameEngine/*.suo
